ul {
    list-style: none;
}

ul li {
    margin: 10px 0;
}

.header{
    width: 100%;
    background-color:white;
    /* border: solid 1px black; */
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.subtitle {
    width: 100%;
    background-color:white;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}
